/* Put your code here */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
}
.item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
    gap: 50px;
}

.shopping-cart {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: right;
    height: 100vh;
}