/* Put your code here */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.shopping-cart {
    display: flex;
    flex-direction: column; 
}

.item-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}