/* Put your code here */
body {
    background-color: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Main container for the entire page */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 50px;
}

/* Includes: Chair, Table, Desk, Shopping-cart */
.item-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Includes: Chair, Table, Desk */
.item-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 100px 60px;
    border-radius: 5px;
    border: 1px solid darkgray;
    margin: 60px;
}

.chair, .table, .desk {
    background-color: #b9b9b9;
    padding: 20px;
    border-radius: 8px;
}